# Nuxt
.nuxt
.output
.data
dist

# Node
node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env
.env
*.local

# Tests
playwright-report
test-results

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
